version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.8
    restart: always
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        databases:
          default:
            connector: postgres
            host: database
            port: 5432
            user: queryme
            password: queryme
            migrations: true
  database:
    image: postgres:10
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: queryme
      POSTGRES_PASSWORD: queryme
    volumes:
      - queryme_volume:/var/lib/postgresql/data
volumes:
  queryme_volume: