// Body
$body-bg: #f4f5f5;

// Borders
$app-border-color: #f1f1f1;
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #007fff;
$brand-primary-hover: #0048ff;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: Lato, sans-serif;
//$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
//$navbar-default-bg: #fff;
//$navbar-light-color: #fff;
$nav-item-color: #71777c;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
