@import "~normalize.css/normalize.css";

@import "variables";
@import "helpers";

body {
  font-family: Lato, Arial, sans-serif;
  background-color: $body-bg;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}

li {
  list-style: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
