@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Bold.ttf');
  src: url('../fonts/Lato-Regular.ttf');
  src: url('../fonts/Lato-Semibold.ttf');
}

@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

.header {
  border-bottom: 1px solid $app-border-color;
  background-color: #fff;
  height: 60px;
}

a {
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    color: white;
    text-decoration: none;
  }
}

