@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Bold.ttf');
  src: url('../fonts/Lato-Regular.ttf');
  src: url('../fonts/Lato-Semibold.ttf');
}

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: Lato, sans-serif;
  background-color: $body-bg;
}
