@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Bold.ttf');
  src: url('../fonts/Lato-Regular.ttf');
  src: url('../fonts/Lato-Semibold.ttf');
}

@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

.header {
  border-bottom: 1px solid $app-border-color;
  background-color: #fff;
  height: 60px;
}

a {
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  &:focus {
    color: white;
    text-decoration: none;
  }
}

// NavHeader

.header {
  .nav-link {
    color: $nav-item-color;
    line-height: 3rem;

    &:hover {
      color: $brand-primary;
    }
  }
}

.brand-link {
  &:hover {
    color: $brand-primary;
  }
}

.login {
  color: $brand-primary;
  cursor: pointer;
  line-height: 4rem;
  vertical-align: middle;

  &:hover {
    color: $brand-primary-hover;
  }
}

// Login modal

.login_buttons {
  max-width: 250px;
  margin: 0 auto;
}

.fb_large_login {
  background-color: #4267B2;
}

.vk_large_login {
  background-color: #507299;
}

.login_button {
  margin: 25px 0;
  width: 100%;
  height: 43px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

.fb_icon, .vk_icon {
  float: left;
  width: 42px;
  height: 42px;
  border-right: 1px solid #3a65ab;
  background-position: center;
  background-repeat: no-repeat;
}

.fb_icon {
    background-image: url(/images/fb_login_icon.png);
}

.vk_icon {
  background-image: url(/images/vk_login_icon.svg);
}

.login_right_side {
  color: white;
  width: 198px;
  height: 43px;
  line-height: 43px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
