@import "~normalize.css/normalize.css";
@import "variables";

body {
  font-family: Lato, Arial, sans-serif;
  background-color: $body-bg;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}

li {
  list-style: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

//.header {
//  border-bottom: 1px solid $app-border-color;
//  background-color: #fff;
//  height: 60px;
//}

//a {
//  &:hover {
//    text-decoration: none;
//    cursor: pointer;
//  }
//
//  &:focus {
//    color: white;
//    text-decoration: none;
//  }
//}
